<header class="header">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="nav m-auto nav-pills">

        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">


          <%= link_to "#{image_tag("home.png")} Inicio".html_safe, root_path, type:"button", class:"btn btn-light" %>

          <%= link_to "#{image_tag("noticias.png")} Noticias".html_safe, root_path, type:"button", class:"btn btn-light" %>


          <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= image_tag("semilleros.png") %>
              Semilleros
            </button>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "Tecnologías Calentadores Solares", root_path, class: "dropdown-item" %>
              <%= link_to "Magnetismo y Termografia", root_path, class: "dropdown-item" %>
            </div>
          </div>

          <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

              <%= image_tag("eventos.png") %>
              Eventos
            </button>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "Introducción a la física de celdas solares", root_path, class: "dropdown-item" %>
              <%= link_to "EV-2018", root_path, class: "dropdown-item" %>
              <%= link_to "EV-2019", root_path, class: "dropdown-item" %>
            </div>
          </div>

          <%= link_to "#{image_tag("publicaciones.png")} Publicaciones".html_safe, root_path, type:"button", class:"btn btn-light" %>

        </div>

      </ul>



      <% if user_signed_in? %>

      <div class="btn-group dropleft" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= current_user.username %>
          <%= image_tag user_avatar(current_user, 30), class:"rounded-circle" %>

        </button>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "Perfil", root_path, class: "dropdown-item" %>
          <%= link_to "Configuración", edit_user_registration_path, class: "dropdown-item" %>
          <%= link_to 'Salir', destroy_user_session_path, class: "dropdown-item", method: :delete %>
        </div>
      </div>



      <% else %>
      <div class="btn-group-vertical">
        <%= link_to 'Ingresar', new_user_session_path, class: "btn btn-success btn-sm col-xs-2 btn-primary-spacing" %>
        <%= link_to 'Registrarse', new_user_registration_path, class: "btn btn-outline-danger btn-sm col-xs-2 btn-primary-spacing" %>
      </div>
      <% end %>




    </div>
  </nav>

</header>
